body{

margin:0;
padding:0;

font-family:Arial;

background:linear-gradient(135deg,#ff9a9e,#fad0c4);

text-align:center;

}

.title{

margin-top:30px;

font-size:32px;

color:#333;

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

padding:40px;

}

.frame{

background:white;

padding:10px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,0.3);

transition:0.4s;

}

.frame img{

width:100%;

border-radius:10px;

}

.frame:hover{

transform:scale(1.1) rotate(2deg);

}

.nextBox{

margin:40px;

}

button{

padding:15px 30px;

font-size:18px;

background:#ff4b7d;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#ff2e63;

}